In [1]:
fast = [1,2,3,4]
campus = [5,6,7]

In [2]:
fast + campus

[1, 2, 3, 4, 5, 6, 7]

In [3]:
fast.extend(campus)
fast

[1, 2, 3, 4, 5, 6, 7]

In [4]:
3 in fast

True

In [5]:
9 in fast

False

In [6]:
8 not in fast

True

In [7]:
3 not in fast

False

In [9]:
fast[2] = 100
fast

[1, 2, 100, 4, 5, 6, 7]

In [10]:
some_tuple = (1,2)
some_tuple

(1, 2)

In [11]:
some_tuple[1] = 100

TypeError: 'tuple' object does not support item assignment

In [12]:
empty_tuple = ()
empty_tuple

()

In [13]:
empty_tuple.append(1)

AttributeError: 'tuple' object has no attribute 'append'

In [14]:
def multiple_return(num):
    result = num + 2
    return (num, result)

In [15]:
multiple_return(2)

(2, 4)

In [16]:
a = 1
b = 2
print(a,b)

1 2

In [18]:
b = a
a = b
print(a,b)

1 1

In [19]:
a = 1
b = 2

temp = b
b = a
a = temp
print(a,b)

2 1

In [20]:
a = 1
b = 2
(a, b) = (b, a)
print(a, b)

2 1

In [23]:
some_tuple = ('python', 'java', 'c', 'cplus', 'golang')
some_tuple

('python', 'java', 'c', 'cplus', 'golang')

In [29]:
some_listed = list(some_tuple)
some_listed.append('julia')
some_tuple = tuple(some_listed)
some_tuple

('python',
 'java',
 'c',
 'cplus',
 'golang',
 'julia',
 'julia',
 'julia',
 'julia',
 'julia')

In [43]:
# 이렇게 하시면 안됩니다 => [[],[],[],[],[],[],[],[],[]]
three_by_three = []
three_by_three.append([1,0,0])
three_by_three.append([0,1,0])
three_by_three.append([0,0,1])
three_by_three

[[1, 0, 0], [0, 1, 0], [0, 0, 1]]

In [44]:
# 0.000001 + 0.1023 = 0.102301
result = 0.10230100000000008
result = round(result, 6)
result

0.102301

## 조건문

In [48]:
a = 10
if a == 10:
    print("a is 10.")
    a += 1 # a = a + 1
    print("a is now eleven.", a)

a is 10.
a is now eleven. 11

In [49]:
a = 9
if a == 10:
    print("a is 10.")
else:
    print("a is not 10.")

a is not 10.

In [68]:
a = 9
if a == 10:
    result = "a is 10."
else:
    result = "a is not 10."

print(result)

a is not 10.

In [70]:
# Conditional Expressions
a = 9
result = "a is 10." if a == 10 else "a is not 10."
print(result)

a is not 10.

In [72]:
a = 9
if a == 10:
    result = "a is 10."
else:
    if a == 9:
        result = "a is 9."
    else:
        result = "a is not 10 nor 9."
print(result)

a is 9.

In [73]:
# Conditional Expressions
a = 9
result = "a is 10" if a==10 else "a is 9" if a==9 else "a is not 10 nor 9"
print(result)

a is 9

In [51]:
b = 10
# b가 5보다 작을때, "b는 5보다 작습니다"
# b가 5보다 같거나 클때, "b는 5보다 같거나 큽니다"

if b < 5:
    print("b는 5보다 작습니다.")
else:
    print("b는 5보다 같거나 큽니다.")
    
if b >= 5:
    print("b는 5보다 같거나 큽니다.")
else:
    print("b는 5보다 작습니다.")

b는 5보다 같거나 큽니다.
b는 5보다 같거나 큽니다.

In [53]:
b = 10
if b < 5:
    print("b는 5보다 작습니다.")
else:
    if b < 20:
        print("b는 5보다 크거나 같고, 20보다 작습니다.")
    else:
        if b < 50:
            print("20<=b<50")
        else:
            print("b>50")

b는 5보다 크거나 같고, 20보다 작습니다.

In [54]:
b = 10
if b < 5:
    print("b는 5보다 작습니다.")
elif b < 20:
    print("b는 5보다 크거나 같고, 20보다 작습니다.")
elif b < 50:
    print("20<=b<50")
else:
    print("b>50")

b는 5보다 크거나 같고, 20보다 작습니다.

In [66]:
# Numguess
# TODO: 크레딧 -> 보상과 패널티(크레딧 관련)
# 여러번 -> 힌트(up&down,)
# 단계별 점수 -> 보상과 패널티
# 랭킹...(PM이 거절함)
import random

answer = random.randint(1,100)
print(answer)

guess = int(input("Guess the number(1 to 100): "))

if guess == answer:
    print("Congrats!!!! The answer was {}".format(answer))
else:
    print("Game over! The answer was {}".format(answer))

77
Guess the number(1 to 100): 10
Game over! The answer was 77

In [74]:
1 in [1,2,3,4,5]

True

In [78]:
input_ = input()
input_[0]

월요일

'월'

In [92]:
weekday = ["월","화","수","목","금"]
weekend = ["토","일"]

user_day = input()
user_day = user_day[0]
    
print(user_day)

if user_day in weekday:
    print("평일입니다.")
else:
    if user_day in weekend:
        print("주말입니다. 데헷")
    else:
        print("값을 다시 입력해라(Type again)")

월요일
월
평일입니다.

In [95]:
weekday = ["월","화","수","목","금"]
weekend = ["토","일"]

user_day = input()
# "월화수"와 같은 오입력 방지
if len(user_day) > 1 and user_day[-2:] != "요일":
    print("한글자만 입력하거나 요일 외의 다른 글자를 쓰지 마라! ")
else:
    user_day = user_day[0]

    print(user_day)

    if user_day in weekday:
        print("평일입니다.")
    else:
        if user_day in weekend:
            print("주말입니다. 데헷")
        else:
            print("값을 다시 입력해라(Type again)")

월화수
한글자만 입력하거나 요일 외의 다른 글자를 쓰지 마라!