In [22]:
weekdays = ['월','화','수','목','금']
weekends = ['토','일']

user_day = input("요일을 입력하세요(월~일 or 월요일~일요일)")
if len(user_day) > 1 and user_day[-2:] != "요일":
    print("이상한 값을 입력하지 마세요")
else:
    user_day = user_day[0]
    print(user_day)

    
    #if user_day in weekdays:
    #    print("평일입니다ㅠㅠ")
    #elif user_day in weekends:
    #    print("주말입니다^^")
    #else:
    #    print("다시 입력하세요")
    result = "평일입니다ㅠㅠ" if user_day in weekdays else "주말입니다^^" if user_day in weekends else "다시 입력하세요"
    print(result)

요일을 입력하세요(월~일 or 월요일~일요일)일요일
일
주말입니다^^

## Dictionary

In [23]:
dict1 = {}

In [25]:
dict2 = {'ja':1, 'chuk':2, 'in':3}
dict2

{'ja': 1, 'chuk': 2, 'in': 3}

In [29]:
dict3 = dict(ja=1, chuk=2, in_=3)
dict3

{'ja': 1, 'chuk': 2, 'in_': 3}

In [31]:
dict4 = dict([(1,1),((1,1),1),(3,4)])
dict4

{1: 1, (1, 1): 1, 3: 4}

In [32]:
# 값 추가하기
dict1['ja'] = 1
dict1

{'ja': 1}

In [34]:
dict1['chuk'] = 2
dict1['in'] = 'Tiger'
dict1['myo'] = ['토끼1','토끼2','토끼3']
dict1

{'ja': 1, 'chuk': 2, 'in': 'Tiger', 'myo': ['토끼1', '토끼2', '토끼3']}

In [35]:
del dict1['myo']
dict1

{'ja': 1, 'chuk': 2, 'in': 'Tiger'}

In [37]:
dict1['in']

'Tiger'

In [41]:
list(dict1.keys())

['ja', 'chuk', 'in']

In [39]:
dict1.values()

dict_values([1, 2, 'Tiger'])

In [42]:
list(dict1.items())

[('ja', 1), ('chuk', 2), ('in', 'Tiger')]

In [43]:
for item in dict1.keys():
    print(item)

ja
chuk
in

In [50]:
contacts = {}
contacts['name'] = 'WYCHOI'
contacts['phone'] = 1026111111
contacts['locale'] = 'Seoul, Korea'
contacts['attended'] = [('DSES','fastcampus'), ('Electromagnetics','Korea')]
contacts

SyntaxError: invalid token (<ipython-input-50-de21b176de45>, line 3)

In [45]:
phone_number = contacts.pop('phone')
phone_number

1026111111

In [46]:
contacts

{'name': 'WYCHOI',
 'locale': 'Seoul, Korea',
 'attended': [('DSES', 'fastcampus'), ('Electromagnetics', 'Korea')]}

In [49]:
some_pair = contacts.popitem()
some_pair

('attended', [('DSES', 'fastcampus'), ('Electromagnetics', 'Korea')])

In [51]:
contacts

{'name': 'WYCHOI', 'locale': 'Seoul, Korea'}

### Dictionary에서 많이 쓰이는 method들

In [52]:
contacts['phone']

KeyError: 'phone'

In [55]:
number_ = contacts.get('phone', 'None')
number_

'None'

In [57]:
number_ = contacts.setdefault('name', 0)
print(number_)
contacts

WYCHOI

{'name': 'WYCHOI', 'locale': 'Seoul, Korea', 'phone': 0}

In [63]:
{}.fromkeys(['name','phone'],1)

{'a': 1, 'b': 1}

In [79]:
contacts.update({'name':contacts['name'].lower(),'language':{'ingansegye':'Korean','programming':'cobol'}})
contacts

{'name': 'wychoi',
 'locale': 'Seoul, Korea',
 'phone': 0,
 'language': {'ingansegye': 'Korean', 'programming': 'cobol'}}

In [81]:
contacts['language']['programming']

'cobol'

In [87]:
infos = {1:'Guido', 2:'Netherland'}
"Hi, {1}. You are from {0}".format("Guido", "Netherland")

'Hi, Netherland. You are from Guido'

In [86]:
"Hi, %. You are from %" % ()

SyntaxError: invalid syntax (<ipython-input-86-16a30498bc36>, line 1)

## Set

In [88]:
set_ = {'pen','pineapple','apple','pen'}
set_

{'apple', 'pen', 'pineapple'}

In [89]:
'pen' in set_

True

In [90]:
'pine' not in set_

True

In [92]:
result = set("pineapple")
result

{'a', 'e', 'i', 'l', 'n', 'p'}

In [93]:
A_set = set("fastcampus")
B_set = set("python")

In [94]:
print(A_set, B_set)

{'u', 'p', 'c', 't', 'f', 'm', 's', 'a'} {'p', 't', 'n', 'y', 'h', 'o'}

In [95]:
A_set | B_set

{'a', 'c', 'f', 'h', 'm', 'n', 'o', 'p', 's', 't', 'u', 'y'}

In [96]:
A_set & B_set

{'p', 't'}

In [97]:
A_set - B_set

{'a', 'c', 'f', 'm', 's', 'u'}

In [98]:
A_set ^ B_set

{'a', 'c', 'f', 'h', 'm', 'n', 'o', 's', 'u', 'y'}

In [99]:
duplicated = ["dog","cat","dog","cat"]
list(set(duplicated))

['dog', 'cat']

In [100]:
list(set(["dog","cat","dog","cat"]))

['dog', 'cat']

In [102]:
for i in range(1,10+1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [107]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [105]:
type(range(10))

range

In [110]:
# 1부터 100까지 반복하면서
# i가 2의 배수일 때만 3을 곱해서 출력
# 나머지는 무시
for i in range(1,100+1):
    if i%2 == 0:
        print(i*3)

SyntaxError: unexpected EOF while parsing (<ipython-input-110-204b0c932ddd>, line 7)

In [111]:
items = ["python","go","julia","node.js"]
for item in items:
    print("I love {}".format(item))

I love python
I love go
I love julia
I love node.js

In [147]:
for _ in range(10):
    print("I'm here!")

I'm here!
I'm here!
I'm here!
I'm here!
I'm here!
I'm here!
I'm here!
I'm here!
I'm here!
I'm here!

In [ ]:
while True:
    print("hello")

In [115]:
while True:
    username = input("What's your name?")
    if username == 'exit':
        break
    else:
        print("Hi, {}".format(username))

What's your name?Hi
Hi, Hi
What's your name?KimFacam
Hi, KimFacam
What's your name?Fastcampus
Hi, Fastcampus
What's your name?exit

In [119]:
for i in range(1,100+1):
    if i%2 == 0:
        continue
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [120]:
import random

In [122]:
random.choice(list({1,2,3}))

3

In [148]:
with open('./a_word_list.txt', 'r') as f:
    texts = f.readlines()
    results = []
    for text in texts:
        text = text.replace('\n', '')
        results.append(text)
        
results[:10]

['aback',
 'abacus',
 'abandon',
 'abandoned',
 'abandonment',
 'abashed',
 'abate',
 'abbey',
 'abbr.',
 'abbreviate']

In [128]:
len_count = {}
for len_ in map(len, results):
    len_count[len_] = len_count.get(len_,0) + 1

In [129]:
len_count.items()

dict_items([(5, 67), (6, 80), (7, 85), (9, 89), (11, 47), (10, 86), (12, 25), (3, 14), (8, 96), (4, 28), (13, 15), (15, 4), (17, 1), (2, 5), (14, 12), (16, 4), (18, 1), (22, 1)])

In [149]:
filtered_dict = {}
for word in results:
    filtered_dict.setdefault(len(word), []).append(word)
filtered_dict

TypeError: unhashable type: 'slice'

In [138]:
for i in range(1,100+1):
    if i % 15 == 0:
        print("fizzbuzz")
    else:
        print("fizz" if i % 3 == 0 else "buzz" if i % 5 == 0 else i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

In [140]:
# Hint 1
"fizz"*False

''

In [141]:
"fizz"*True

'fizz'

In [142]:
"fizz" + "buzz"

'fizzbuzz'

In [143]:
for i in range(1,100+1):
    if i % 15 == 0:
        print()
    elif i % 5 == 0:
        print()
    elif i % 3 == 0:
        print()
    else:
        print()

SyntaxError: unexpected EOF while parsing (<ipython-input-143-5c36b274d5e4>, line 1)

In [146]:
len_count = {}
for len_ in map(len, ['apple','banana', 'plane']):
    len_count[len_] = len_count.get(len_,0) + 1
len_count

{5: 2, 6: 1}