In [1]:
import sqlite3 as lite
import pandas as pd
import requests
from pymongo import MongoClient

In [2]:
pd.options.display.max_colwidth = 200

In [61]:
db = lite.connect('./products.db')

## SQL
- products.db에 대해
    - Employees 의 월별 생일의 분포를 구하세요
    - OrderDetails 의 OrderID 별 주문 금액의 합을 구하세요

In [62]:
query = """
SELECT substr(BirthDate, 6,2) "MONTH", count(*) "COUNT"
FROM
    Employees
    GROUP BY substr(BirthDate, 6,2)
;
"""
pd.read_sql(query, db)

  MONTH  COUNT
0    01      1
1    02      1
2    03      1
3    05      1
4    07      2
5    08      1
6    09      2
7    12      1

In [64]:
query = """
SELECT D.OrderID, sum(D.Quantity * P.Price) "TOTAL"
FROM
    OrderDetails D
    JOIN
        Products P
        ON
            D.ProductID = P.ProductID
    GROUP BY
        D.OrderID
;
"""
pd.read_sql(query, db).head()

   OrderID    TOTAL
0    10248   566.00
1    10249  2329.25
2    10250  2267.25
3    10251   839.50
4    10252  4662.50

## noSQL

- 앞서 저장한 매물정보에서
    - 4층 이상인 건물 중 3층 이상인 매물의 목록을 구하세요
    - 면적이 33 이상이거나, 조회수가 50 이상인 매물의 목록을 구하세요

In [24]:
mongo_uri = "mongodb://strongadmin:admin1234@ds135844.mlab.com:35844/mydbinstance"
client = MongoClient(mongo_uri)
client.mydbinstance.collection_names()

['bigbang', 'system.indexes', 'users', 'nvkwlist']

In [25]:
db = client.mydbinstance
items = db.bigbang

In [27]:
items.find_one({})

{'_id': ObjectId('5c399ae4dabf947b0839b878'),
 'title': '세종시 조치원읍 평리',
 'header': False,
 'header_height': 0,
 'item': {'id': 14359880,
  'images': [{'index': 0,
    'count': 1,
    'url': 'https://ic.zigbang.com/ic/items/14359880/1.jpg'},
   {'index': 1,
    'count': 2,
    'url': 'https://ic.zigbang.com/ic/items/14359880/2.jpg'},
   {'index': 2,
    'count': 3,
    'url': 'https://ic.zigbang.com/ic/items/14359880/3.jpg'},
   {'index': 3,
    'count': 4,
    'url': 'https://ic.zigbang.com/ic/items/14359880/4.jpg'},
   {'index': 4,
    'count': 5,
    'url': 'https://ic.zigbang.com/ic/items/14359880/5.jpg'},
   {'index': 5,
    'count': 6,
    'url': 'https://ic.zigbang.com/ic/items/14359880/6.jpg'}],
  'is_realestate': True,
  'is_direct': False,
  'is_room': False,
  'is_type_room': False,
  'rent': 26,
  'deposit': 200,
  'is_deposit_only': False,
  'floor': '2층',
  '_floor': '2층',
  'floor_all': '4층',
  'local1': '세종시',
  'local2': '세종',
  'local3': '조치원읍',
  'title': '인기구조 원룸. 풀옵션!!!',
  'room_type': '분리형 원룸',
  'room_type_code': '02',
  'building_type': '다세대건물',
  'room_gubun_code': '01',
  'status': '광고중',
  'is_status_open': True,
  'is_status_close': False,
  'view_count': '100',
  'updated_at': '12일 전',
  'updated_at2': '2018-12-31',
  'read_updated_at': '2001-01-01',
  'size_m2': 79.34,
  'size': 24,
  'size_m2_contract': '-',
  'size_contract': 0,
  'address1': '세종시 조치원읍 평리',
  'near_subways': '-',
  'random_location': '36.60485663947676,127.30151320408974',
  'options': '에어컨,냉장고,세탁기,인덕션,침대,옷장,신발장,싱크대',
  'manage_cost': '4만원',
  'manage_cost_inc': '수도,인터넷,TV',
  'parking': '가능',
  'elevator': '있음',
  'movein_date': '즉시입주',
  'description': '세종청사,청주,전의방면으로\r\n진입이 용이~\r\n조치원역,조치원터미널,시장,상권 도보로 10분. \r\n주차하기 완전 좋아요~\r\n베란다,방,주방으로 3단분리가 되어 있습니다\r\n전화주세요^^\r\n',
  'description_og': '세종청사,청주,전의방면으로\r\n진입이 용이~\r\n조치원역,조치원터미널,시장,상권 도보로 10분. \r\n주차하기 완전 좋아요~\r\n베란다,방,주방으로 3단분리가 되어 있습니다\r\n전화주세요^^\r\n',
  'pets_text': '확인필요',
  'loan_text': '확인필요',
  'room_direction_text': '확인필요',
  'is_owner': False,
  'images_thumbnail': '/items/14359880/1.jpg',
  'is_zzim': False,
  'secret_memo': None,
  'user_no': 1118497,
  'user_has_penalty': False,
  'user_has_no_penalty': True,
  'user_name': '대표공인중개사 김명숙',
  'user_phone': '0507-1281-2975',
  'original_user_phone': '010-6682-5458',
  'user_mobile': '0507-1281-2975',
  'user_email': 'clover5458@naver.com',
  'user_intro': '',
  'agent_name': '골드공인중개사(김명숙)',
  'agent_no': 0,
  'agent_phone': '044-868-8896',
  'agent_mobile': '0507-1281-2975',
  'agent_email': 'clover5458@naver.com',
  'agent_local1': '세종시',
  'agent_local2': '세종',
  'agent_address1': '세종특별자치시 조치원읍 상리 101-2번지',
  'agent_lng': 127.30281829834,
  'agent_lat': 36.6023788452148,
  'building': None,
  'contract': '세종특별자치시',
  'bjd_code': '',
  'bonbun_code': '56',
  'bubun_code': '2',
  'address2': '56-2',
  'address3': None,
  'is_premium': True,
  'is_premium2': True,
  'is_homepage': False,
  'profile_url': None,
  'agent_comment': '조치원전지역 픽업가능!!!\r\n친절한 상담해드립니다\r\n전화주세요!^^\r\n\r\n',
  'premium_items': [],
  'pnu': '3611025023100560002'}}

In [35]:
# pymongo 라이브러리 만으로는 너무 복잡해지므로, 모든 아이템을 불러온 뒤, 전처리 후 카운트
# mongoDB client로는 javaScript문법으로 db.find().forEach()를 활용하여 각 document에 대해 작업지시 가능
# regex 또한 python의 regex와 문법이 달라 regex compile이 불가
# query가 너무 복잡해지지 않는 선에서 가능한 만큼 수행 한 뒤, python으로 추가 수행을 하는 것이 깔끔합니다.

query = {}
count = 0
for item in items.find(query):
    floor = int(item["item"]["floor"].replace("층","").replace("반지하","0"))
    floor_all = int(item["item"]["floor_all"].replace("층",""))
    if floor>=2 and floor_all>=4:
        count+=1

print(count)

49

In [58]:
#위와 같은 이유로 가능한 조건에 대하여 먼저 필터링 한 후, list comprehension으로 재구성

query={
    "$or":[
        {"item.size_m2":{"$gte":33}},
        #{"item.view_count":{"$gte":50}},
    ]
}
result = [
    (item["item"]["size_m2"], item["item"]["view_count"])
    for item in items.find(query) if int(item["item"]["view_count"]) >= 50
]
len(result)

5